body,html,input,a,dl,dt,dd,p,h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}
ul,li{list-style:none;margin:0;padding:0;}
select,input{outline: none;}
body{
	background-color: #f4f4f4;
	font-size: 14px;
	color: #5e5e5e;
}
a{
	text-decoration: none;
	color: #5e5e5e;
}
.clearfix:after{display:block;
                content:'';
                clear:both;
}
.clearfix{ zoom:1;}
.fl{
    float:left;
}
.fr{
    float:right;
}
.hide{
	display: none;
}
.white{
	background-color: #ffffff;
}
.commenLeft{
	margin-left: 8px;
}
.commenHeight{
	margin-top: 10px;
}
.temp{
	margin: 48px 0;
}